* {
    margin: 0;
    padding: 0;
}
#Bbackground {
    background-color: #020320;
    overflow: hidden;
}

.container-LG {
    min-width: 1366px;
    max-width: 1366px;
    min-height: 660px;
    margin: auto;
    /* display: flex;
    flex-wrap: nowrap; */
    position: relative;
}

#wall {
    background-image: url('../objects/BackgroundImg.png');
    position: absolute;
    background-repeat: no-repeat;
    width: 101%;
    height: 570px;
    background-size: contain;
    left: -1px;
}
#space {
    background-image: url(../objects/space.png);
    position: absolute;
    background-repeat: no-repeat;
    width: 101%;
    height: 304px;
    background-size: contain;
    left: -1px;
    bottom: 314px;
}


#planets {
    width: 100%;
    height: 500px;
    position: absolute;
    left: 0px;
}

#orangePlanetHat {
    width: 260px;
    height: 260px;
    background-image: url(../objects/orangePlanetHat.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 0px;
    top: 32px;
}

#bluePlanet {
    width: 100px;
    height: 100px;
    background-image: url(../objects/bluePlanet.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 320px;
    top: 77px;
}

#orangePlanet {
    width: 70px;
    height: 70px;
    background-image: url(../objects/orangePlanet.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 635px;
    top: 66px;
}

#pinkPlanet {
    width: 100px;
    height: 100px;
    background-image: url(../objects/pinkPlanet.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 320px;
    top: 77px;
}

#yellowPlanet {
    width: 155px;
    height: 155px;
    background-image: url(../objects/yellowPlanet.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 30px;
    top: 95px;
}



#window {
    background-image: url(../objects/window.png);
    position: absolute;
    background-repeat: no-repeat;
    width: 101%;
    height: 304px;
    opacity: 0.6;
    background-size: contain;
    left: -1px;
    bottom: 314px;
}

#floor {
    width: 101%;
    height: 209px;
    background-image: url(../objects/floor.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: -5px;
    left: -1px;
}
#joiner {
    width: 1382px;
    height: 52px;
    background-image: url(../objects/joiner.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 170px;
    left: -2px;
}
#windowBotJoiner {
    width: 102%;
    height: 49px;
    background-image: url(../objects/windowJoiner.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 360px;
    left: -11px;
}
#windowTopJoiner {
    width: 102%;
    height: 49px;
    background-image: url(../objects/windowJoiner.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 585px;
    left: -11px;
}